<%= render partial: "layouts/single_center_top" %>

  <h3>My Lists</h3>
  <p>&nbsp;</p>
  <div id="lists"></div>

<%= render partial: "layouts/single_center_bottom" %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $.get('/lists.json',function(data){
      $.each(data, function(i,list_hash){
        var list = new List(list_hash);

        $("#lists").append(
          '<h4>' + list.linkHTMLString() + '</h4>'
        );  
      });
    });
  });
</script>
