<%= render partial: "layouts/single_center_top" %>

  <div id="list"></div>
  <p>&nbsp;</p>

  <h5>Collaborators:</h5>
  <p id="collaborators"></p>


  <p>&nbsp;</p>
  <h4>Tasks:</h4>
  <hr>

  <div id="tasks"></div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <h5>Add Task</h5>

<%= render partial: "tasks/form", locals: {task: @task, list: @list} %>

<%= render partial: "layouts/single_center_bottom" %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $.get('/lists/' + <%= @list.id %> + '.json',function(data){  
      $('#list').html(
        '<h2>' + data.name + '</h2>' +
        (data.editable ? '<a href="/lists/' + data.id + '/edit">Edit</a>' : '')
      );

      $('#collaborators').text( data.collaborators );

      if (data.tasks.length == 0){
        $('#tasks').text( 'There are no tasks in this list.' );
      } else {
        $.each(data.tasks,function(i,task){
          $('#tasks').append(
            '<h5><a href="/lists/' + data.id + '/tasks/' + task.id + '">' + task.name + '</a></h5>' +
            '<p>Due: ' + task.format_due_date + '<p>' +
            '<p>Status:  ' + task.status + '</p>' +
            '<hr >'
          );
        });
      }
    });
  });
</script>
