<%= render partial: "layouts/single_center_top" %>

  <div id="list"></div>
  <p>&nbsp;</p>

  <h5>Collaborators:</h5>
  <p id="collaborators"></p>


  <p>&nbsp;</p>
  <h4>Tasks:</h4>
  <hr>

  <div id="tasks"></div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <h5>Add Task</h5>

  <div id="errors" class="alert alert-warning"></div>

<%= render partial: "tasks/form", locals: {task: @task, list: @list} %>

<%= render partial: "layouts/single_center_bottom" %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $('#errors').hide();

    $.get('/lists/' + <%= @list.id %> + '.json',function(data){  
      var list = new List(data);

      $('#list').html(
        '<h2>' + list.name + '</h2>' + 
        list.editLinkHTMLString()
      );

      $('#collaborators').text( list.collaborators );

      if (list.tasks.length == 0){
        $('#tasks').text( 'There are no tasks in this list.' );
      } else {
        $.each(list.tasks,function(i,task_hash){
          var task = new Task(task_hash);

          $('#tasks').append(
            '<h5>' + task.linkHTMLString() + '</h5>' +
            '<p>Due: ' + task.format_due_date + '<p>' +
            '<p>Status:  ' + task.status + '</p>' +
            '<hr >'
          );
        });
      }
    });

    $('form').submit(function(event){
      event.preventDefault();

      var data = $('form').serialize();
    
      $.post('/tasks',data)
       .done(function(response){
        var task = new Task(response);

        if (task.errors){
          $('#errors').html(task.format_errors());
          $('#errors').show();

        } else {
          
        } 
      });
    });
  });
</script>
